@import url(./colors.css);

table {
  margin: 15px;
}

tr {
  display: flex;
  margin-top: 10px;
}

.card-hours {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  width: 85px;
  height: 85px;
  margin-right: 10px;
  background: var(--bg-color-hours);
  border-bottom: 1px solid var(--light-color);
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-task {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 512px;
  height: 85px;
  padding: 10px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 20px;
  color: var(--color-font-card);
  border-left: 15px solid;
  border-radius: 15px;
  box-shadow: 0px 4px 24px #a8a8a840;
}

.card-button {
  width: 57px;
  height: 25px;
  background: var(--bg-color-delete-car);
  border-radius: 4px;
  color: var(--light-color);
  border: none;
}

.card-task__reapeat {
  border-color: var(--color-conflict) !important;
}

.card-hours__reapeat {
  background-color: #f0b1b1 !important;
}

hr {
  position: absolute;
  width: 97vw;
  height: 3px;
  background-color: var(--color-conflict);
  border: none;
  left: 30px;
}
