:root {
  --light-color: #ffffff;
  --light-color-bgColor-title: #6688ff;
  --light-color-red: #da2b40;
  --light-color-green: #2cbe82;
  --light-color-grey: #3b3e45;
  --light-color-sunday: #ff6666;
  --light-color-monday: #ffa246;
  --light-color-tuesday: #35e185;
  --light-color-wednesday: #6688ff;
  --light-color-thursday: #b266ff;
  --light-color-friday: #66d1ff;
  --light-color-saturday: #ff66d4;
}
