@import url(./colors.css);

#buttons-goup {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

#buttons-group > button {
  border: none;
  min-width: 140px;
  height: 33px;
  border-radius: 5px 5px 0 0;
  margin-right: 5px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: var(--light-color);
}

#buttons-group button:nth-child(1) {
  background-color: var(--light-color-monday);
}
#buttons-group button:nth-child(2) {
  background-color: var(--light-color-tuesday);
}
#buttons-group button:nth-child(3) {
  background-color: var(--light-color-wednesday);
}
#buttons-group button:nth-child(4) {
  background-color: var(--light-color-thursday);
}
#buttons-group button:nth-child(5) {
  background-color: var(--light-color-friday);
}
#buttons-group button:nth-child(6) {
  background-color: var(--light-color-saturday);
}
#buttons-group button:nth-child(7) {
  background-color: var(--light-color-sunday);
}

.active {
  width: 250px;
}
